.hero{
    height: calc(100vh - 100px);
    background: linear-gradient(180deg, #F2E8DF,#e6c8af );
}


.Aileen-1-hex { color: #86A69D; }
.Aileen-2-hex { color: #F2B263; }
.Aileen-3-hex { color: #F2E8DF; }
.Aileen-4-hex { color: #F2C6C2; }
.Aileen-5-hex { color: #F28585; }