.hero{
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg, #013440,#026873  );
    position: relative;

    .wrapper{
        max-width: 1366px;
        height: 100%;
        margin: auto;
        .text_pres{
        width: 60%;
           height: 100%;
           display: flex;
           flex-direction: column;
           justify-content: center;
           gap: 30px;

            h2{
                font-size: 30px;
                color: #FF5A33;
                letter-spacing: 8px;
            }
            h3{
                font-size: 90px;
            }
            button{
                width: 70%;
                font-size: 20px;
                padding: 20px;
                border: 1px solid white;
                border-radius: 10px;
                background-color: transparent;
                color: white;
                cursor: pointer;
                font-weight:bold;
            }
            img{
            width: 60px;
           }
        }
    }
    .slidingTextContainer{
        position: absolute;
        font-size: 40vh;
        bottom:-140px;
        white-space: nowrap;
        opacity: 10%;
        color: #FFEC5C;
        width: 100%;
        font-weight: bold;
    }
}



